{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'bootstrap/css/sb-admin.css' %}" rel="stylesheet">
</head>

<body class="bg-dark">
<div align="center" style=" position: absolute; margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 150px;
  background-color: #ccc;
  border-radius: 3px;">
    <div class="main_title">
        <h1 class="main_title"> Welcome to room4u</h1>
        <h5> Please login using the Fenix platform.</h5>
            <button class="btn btn-primary"
                    onclick="location.href = '{{ auth_url }}'" type="button"><i class="fa fa-sign-in" aria-hidden="true"></i> Login
            </button>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</body>

</html>
