{% extends "blank.html" %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/room4u">room4u</a>
        </li>
    </ol>



    {% if not user.is_staff %}

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-calendar-check-o"></i> Current Check-in
            </div>
            <div class="card-body">
                {% if checked_in %}
                    <div style="padding-bottom: inherit">You are currently checked in on {{ checked_in_room }},
                        since {{ checked_in_time }}</div>
                {% else %}
                    <div style="padding-bottom: inherit">You are not currently checked in.</div>
                {% endif %}
                <a href="/room4u/check-in">
                    <button class="btn btn-primary" type="button">New Check-in</button>
                </a>
                {% if checked_in %}
                    <button class="btn btn-primary" type="button" onclick="check_out()">Check-out</button>
                    <a data-toggle="collapse" href="#usersInRoom">
                        <button class="btn btn-secondary" type="button">Users in this Room</button>
                    </a>
                {% endif %}
                <a href="/room4u/check-in/history">
                    <button class="btn btn-secondary" type="button">History</button>
                </a>

                {% if checked_in %}
                    <div class="table-responsive panel-collapse collapse" id="usersInRoom" style="padding-top: 10px">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <tbody>
                            {% for user in users_in_room %}
                                <tr>
                                    <td>{{ user.user.username }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>

    {% endif %}
{% endblock %}
