{% extends "blank.html" %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/room4u">room4u</a>
        </li>
        <li class="breadcrumb-item active">Reload DB</li>
    </ol>
        <h2> Reload Completed</h2>

        <!--<input type="submit" class="btn btn-info" value="Filter by Date" style="width:135px"><br><br>-->
 <a href="/room4u/messages">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back
            </a>


{% endblock body %}