{% extends "blank.html" %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/room4u">room4u</a>
        </li>
        <li class="breadcrumb-item active">Rooms</li>
        <li class="breadcrumb-item active">{{ room.name }}</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-info"></i> Room Info
        </div>
        <div class="card-body ">
            <div align="center">
                <h2>{{ room.name }}</h2>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                    <tr>
                        <th>
                            Tipo
                        </th>
                        <td>
                            <span id="room_type"></span>
                        </td>

                    </tr>
                    <tr>
                        <th>
                            Contained Spaces
                        </th>
                        <td>
                            <span id="room_contained_spaces"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <b>Blueprint</b>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <img src="https://fenix.tecnico.ulisboa.pt/api/fenix/v1/spaces/{{ room.id }}/blueprint" width="50%"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-list-ol"></i> Current Occupancy - {{ current_total }} Visits
        </div>
        <div class="card-body ">
            {% if current_total >= 1 %}
                <div class="table-responsive" id="{{ room.room }}">


                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                        <tbody>
                        {% for visit in current_visits %}
                            <tr>
                                <td>{{ visit.user.username }}</td>
                                <td>{{ visit.start }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            {% else %}
                There are no visits
            {% endif %}
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-history"></i> Occupancy History - {{ all_visits_total }} Visits
        </div>
        <div class="card-body ">
            {% if all_visits_total >= 1 %}
                <div class="table-responsive" id="{{ room.room }}">


                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                        <tbody>
                        {% for visit in all_visits %}
                            <tr>
                                <td>{{ visit.user.username }}</td>
                                <td>{{ visit.start }}</td>
                                <td>{{ visit.end }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            {% else %}
                There are no visits
            {% endif %}
        </div>
    </div>

{% endblock %}